<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>430875009823-4o5lpf9nscl8i5c1tvq9csprbqrjbe7h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.430875009823-4o5lpf9nscl8i5c1tvq9csprbqrjbe7h</string>
	<key>API_KEY</key>
	<string>AIzaSyCGUa-iosRc3GNzu2M8u_90dWxrPY2elcE</string>
	<key>GCM_SENDER_ID</key>
	<string>430875009823</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>GabrielPalmer.TravelTracker</string>
	<key>PROJECT_ID</key>
	<string>traveltracker-20179</string>
	<key>STORAGE_BUCKET</key>
	<string>traveltracker-20179.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:430875009823:ios:204897ccd2a98da1</string>
	<key>DATABASE_URL</key>
	<string>https://traveltracker-20179.firebaseio.com</string>
</dict>
</plist>